<ul>
  <% @tasks.each do |user| %>
    <% if user == @task %>
      <li><%= link_to user.name, profile_path %> <%= link_to "My Tasks", my_tasks_path %></li>
    <% else %>
      <li><%= link_to user.name, user %> <%= link_to "#{user.name}'s Tasks", user_tasks_path(user.id) %></li>
    <% end %>
  <% end %>
</ul>