<ul>
  <% @task.errors.messages.each do |error| %>
    <li><%= error[1] %></li>
  <% end %>
</ul>


<%= form_tag(login_path, method: "post") do %>
  <input type="text" name="users[email]" placeholder="Type in your email." value="<%=@task.email%>"></input>
  <input type="password" name="users[password]" placeholder="Type in your password."></input>
  <input type="submit"></input>
<% end %>
<p><a href="/users/new">New User?</a></p>